# This file defines possible make "configuration" variables.
#
# This make file is used when building/installing using the quickbuild
# build system to build/install quickstream.   This file is ignored when
# building/installing quickbuild with the GNU autotools build system, and
# when building/installing with meson (TODO).
#
# We try to keep similar make variables in the GNU autotools build method.
#
# The optionally built files are automatically added based on running
# programs like 'pkg-config' in the quickbuild makefiles (Makefile) to see
# if dependences are available.


# We really want there to be very little to configure in this file.
# PREFIX is (or will be) a directory that contains all the files
# that are installed for this software project.

PREFIX = /usr/local/encap/quickstream


# Set CPPFLAGS for debug build options:
#
#
# SPEW_LEVEL_* controls macros in lib/debug.h
#
# The following may be defined; defining them turns on the following CPP
# macro functions that are in debug.h which is a source file for
# libquickstream.so and other binary files.
#
# CPP macro flag         makes SPEW CPP macro functions
#-----------------       ------------------------------
#
# DEBUG             -->  DASSERT()
#
# SPEW_LEVEL_DEBUG  -->  DSPEW() INFO() NOTICE() WARN() ERROR()
# SPEW_LEVEL_INFO   -->  INFO() NOTICE() WARN() ERROR()
# SPEW_LEVEL_NOTICE -->  NOTICE() WARN() ERROR()
# SPEW_LEVEL_WARN   -->  WARN() ERROR()
# SPEW_LEVEL_ERROR  -->  ERROR()
#
#
# If you really need to understand what these do look in
# the file lib/debug.h
#
# always on is      -->  ASSERT()
#


# Examples:
#CPPFLAGS := -DSPEW_LEVEL_NOTICE
#CPPFLAGS := -DDEBUG -DSPEW_LEVEL_DEBUG

CPPFLAGS := -DDEBUG -DSPEW_LEVEL_INFO


# C compiler option flags
CFLAGS := -g -Wall -Werror -fno-omit-frame-pointer

# C++ compiler option flags
CXXFLAGS := -g -Wall -Werror -fno-omit-frame-pointer
